<html lang='en'>

  <head>
    {{>head}}
    <title>Promo code</title>
  </head>

  <body>
    <div class='wrapper'>
      {{>admin/header}}
      <main class='page'>
        <section class='page__toolbar toolbar'>
          <ul class='toolbar__list'>
            <li class='toolbar__item'>
              <a
                href='/admin/products'
                type='button'
                class='btn'
                data-toggle='tooltip'
                data-placement='bottom'
                title='Cancel'
              >
                <span class='material-icons'>close</span>
              </a>
            </li>
          </ul>
        </section>
        {{>toast}}
        <section class='page__info-block info-block'>
          <div class='info-block__container __container'>
            <div class='order-info card'>
              <h3 class='card-header'>Add Promo Code</h3>
              <div class='card-body order-info-body'>
                <form action='/admin/promos' method='POST'>
                  <div class='form-row'>
                    <div class='form-group col-md-6'>
                      <label for='codeName'>Code:</label>
                      {{#if errors.code}}
                        <input
                          type='text'
                          class='form-control is-invalid'
                          name='code'
                          value='{{promo.code}}'
                        />
                        <span class='text-danger'>{{errors.code}}</span>
                      {{else}}
                        <input
                          type='text'
                          class='form-control'
                          name='code'
                          value='{{promo.code}}'
                        />
                      {{/if}}
                    </div>
                    <div class='form-group col-md-6'>
                      <label for='dicountAmount'>Discount amount (%):</label>
                      {{#if errors.value}}
                        <input
                          type='number'
                          class='form-control is-invalid'
                          name='value'
                          value='{{promo.value}}'
                        />
                        <span class='text-danger'>{{errors.value}}</span>
                      {{else}}
                        <input
                          type='number'
                          class='form-control'
                          name='value'
                          value='{{promo.value}}'
                        />
                      {{/if}}
                    </div>
                    <button
                      type='submit'
                      id='save'
                      class='btn'
                      title='Create'
                    >Create new promo code</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
    {{>scripts}}
  </body>

</html>
