<section class='page__table'>
  <div class='table__container __container'>
    <table class='table'>
      <thead>
        <tr>
          <th scope='col'>
            <input
              class='form-check-input'
              type='checkbox'
              title='Select all'
              value=''
            />
            <label
              class='form-check-label'
              for='flexCheckDefault'
            >Select</label>
          </th>
          <th scope='col'>Image</th>
          <th scope='col'>Product name</th>
          <th scope='col'>Vendor code</th>
          <th scope='col'>Price</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
          <tr>
            <th scope='row'>
              <input
                class='form-check-input'
                type='checkbox'
                value=''
                data-value='{{id}}'
              />
            </th>
            <td>
              {{#if imagePath}}
                <img src='{{imagePath}}' alt='Product' class='img-thumbnail' />
              {{/if}}
              {{#unless imagePath}}
                <img
                  src='../../img/products/stub.png'
                  alt='Product'
                  class='img-thumbnail'
                />
              {{/unless}}
            </td>
            <td class='col-pink'>{{name}}</td>
            <td class='col-pantone_purple'>{{vendorCode}}</td>
            <td class='price col-off_blue'>{{price}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
