<html lang='en'>

  <head>
    {{>head}}
    <title>Orders</title>
  </head>

  <body>
    <div class='wrapper'>
      {{> admin/header}}
      <main class='page'>
        <section class='page__toolbar toolbar'>
          <ul class='toolbar__list'>
            <li class='toolbar__item'>
              <button class='btn' title='View product'>
                <span class='material-icons'>visibility</span>
              </button>
            </li>
          </ul>
        </section>
        <section class='page__pagination pagination'>
          <ul class='pagination'>
            <li class='page-item'>
              <a class='page-link' href='#'>Previous</a>
            </li>
            <li class='page-item'>
              <a class='page-link'>1</a>
            </li>
            <li class='page-item'>
              <a class='page-link' href='#'>Next</a>
            </li>
          </ul>
        </section>
        <section class='page__table'>
          <div class='table__container __container'>
            <table class='table'>
              <thead>
                <tr>
                  <th scope='col'>
                    <input
                      class='form-check-input'
                      type='checkbox'
                      title='Select all'
                      value=''
                    />
                    <label
                      class='form-check-label'
                      for='flexCheckDefault'
                    >Select</label>
                  </th>
                  <th scope='col'>Order №</th>
                  <th scope='col'>Customer Email</th>
                  <th scope='col'>Customer Name</th>
                  <th scope='col'>Total</th>
                  <th scope='col'>Delivery</th>
                </tr>
              </thead>
              <tbody>
                {{#each orders}}
                <tr>
                  <th scope='row'>
                    <input class='form-check-input' type='checkbox' value='' data-value='{{id}}'/>
                  </th>
                  <td scope='row' class='col-pink'>{{id}}</td>
                  <td class='col-off_purple'>{{customerEmail}}</td>
                  <td class='col-off_purple'>{{customerName}}</td>
                  <td class='price col-off_blue'>{{totalPrice}}</td>
                  {{#if deliveryAddress}}
                  <td class='col-off_blue'>{{deliveryAddress}}</td>
                  {{/if}}
                  {{#unless deliveryAddress}}
                  <td class='col-off_blue'>{{deliveryMethod}}</td>
                  {{/unless}}
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </section>
      </main>
    </div>
  </body>

</html>
