<html lang='en'>

  <head>
    {{>head}}
    <title>Order detail</title>
  </head>

  <body>
    <div class='wrapper'>
      {{>admin/header}}
      <main class='page'>
        <section class='page__toolbar toolbar'>
          <ul class='toolbar__list'>
            <li class='toolbar__item'>
              <a href='/admin/orders' class='btn' title='Back'>
                <span class='material-icons'>arrow_back</span>
              </a>
            </li>
          </ul>
        </section>
        <section class='page__info-block info-block'>
          <div class='info-block__container __container'>
            <div class='order-info card'>
              <h3 class='card-header'>Order info</h3>
              <div class='card-body order-info-body'>
                <div class='basic-info'>
                  <div>
                    <span class='card-body__title card__title'>Order №:</span>
                    <p class='card-body__value card__value'>{{order.id}}</p>
                    <span class='card-body__title card__title'>Customer name:</span>
                    <p
                      class='card-body__value card__value'
                    >{{order.customerName}}</p>
                  </div>
                  <div>
                    <span class='card-body__title card__title'>Total price:</span>
                    <p
                      class='price card-body__value card__value'
                    >{{order.totalPrice}}</p>
                    <span class='card-body__title card__title'>Customer email:</span>
                    <p
                      class='card-body__value card__value'
                    >{{order.customerEmail}}</p>
                  </div>
                </div>
                <div>
                  <span class='card-body__title card__title'>Delivery method:</span>
                  {{#if order.deliveryAddress}}
                    <p
                      class='card-body__value card__value'
                    >{{order.deliveryAddress}}</p>
                  {{else}}
                    <p class='card-body__value card__value'>Self-pickup</p>
                  {{/if}}
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class='page__info-block cart-block'>
          <div class='cart-block__container __container'>
            <div class='cart-info card'>
              <h3 class='card-header'>Cart info</h3>
              <div class='card-body'>
                <table class='table'>
                  <thead>
                    <tr>
                      <th scope='col'>Product name</th>
                      <th scope='col'>Vendor code</th>
                      <th scope='col'>Amount</th>
                      <th scope='col'>Price per unit</th>
                      <th scope='col'>Total price</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each products}}
                      <tr>
                        <td class='col-pink'>{{name}}</td>
                        <td class='col-pantone_purple'>{{vendorCode}}</td>
                        <td class='col-off_blue'>{{amount}}</td>
                        <td class='price col-off_blue'>{{price}}</td>
                        <td class='price col-off_blue'>{{priceTotal}}</td>
                      </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>

</html>
