<html lang='en'>

<head>
  {{>head}}
  <title>Product detail</title>
</head>

<body>
  <div class='wrapper'>
    {{> admin/header}}
    <main class='page'>
      <section class='page__toolbar toolbar'>
        <ul class='toolbar__list'>
          <li class='toolbar__item'>
            <a href='/admin/products' class='btn' title='Close'>
              <span class='material-icons'>close</span>
            </a>
          </li>
        </ul>
      </section>
      <section class='page__product-block product-block'>
        <div class='product-block__container __container'>
          <div class='product-info card'>
            <div class='card-body product-info-body'>
              <form action='/admin/products/{{product.id}}/update' enctype="multipart/form-data" method='POST'>
                <div class='form-row'>
                  <div class='col-md-6'>
                    <div>
                      {{#if product.imagePath}}
                        <img id='currentImage' src='{{product.imagePath}}' class='img-container' alt='Product' />
                      {{/if}}
                      {{#unless product.imagePath}}
                        <img src='/img/products/stub.png' alt='Product' class='img-container' />
                      {{/unless}}
                    </div>
                    <ul class='toolbar__list'>
                      <li class='toolbar__item'>
                        <input id='image' type="file" name="image" accept="image/*" />
                        <input id='imagePath' type="hidden" name="imagePath" value="{{product.imagePath}}">
                      </li>
                      <li class='toolbar__item'>
                        <a id='imageDelete' class='btn' title='Delete'>
                          <span class='material-icons'>delete</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class='col-md-6'>
                    <div class='form-group'>
                      <label for='productName'>Product name:</label>
                      <input type='text' class='form-control' id='productName' name='name' value='{{product.name}}' />
                    </div>
                    <div class='form-group'>
                      <label for='vendorCode'>Vendor code:</label>
                      <input type='text' class='form-control' id='vendorCode' name='vendorCode'
                        value='{{product.vendorCode}}' />
                    </div>
                    <div class='form-group'>
                      <label for='productPrice'>Price $:</label>
                      <input type='number' class='form-control' id='productPrice' name='price'
                        value='{{product.price}}' />
                    </div>
                    <div class='form-group'>
                      <label for='productDescription'>Description:</label>
                      <textarea class='form-control' id='productDescription'
                        name='description'>{{product.description}}</textarea>
                    </div>
                    <div class='form-group'>
                      <legend class='col-form-label'>Product status:</legend>
                      <div class="form-check">
                        {{#if product.deletedAt}}
                          <input class="form-check-input" type="checkbox" name='isActive' value='active' id="status"
                            unchecked>
                        {{else}}
                          <input class="form-check-input" type="checkbox" name='isActive' value='checked' id="status"
                            checked>
                        {{/if}}
                        <label class="form-check-label" for="status">
                          Active
                        </label>
                      </div>
                    </div>
                    <button type="submit" id='save' class='btn' title='Save'>Save</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
  {{> admin/modalDeleteSingle}}
  {{>scripts}}
  <script src='/js/admin/edit.js'></script>
</body>

</html>
